@model WenNtoM.Models.Personen

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Personen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonenId" />
            <input type="hidden" asp-for="Interessen" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label class="control-label"> Interessen</label>
                <br />
                @*
                    1. Parameter sind die selektierten Interessen
                    2. Parameter ist die Liste aller Interessen
                *@
                @Html.ListBoxFor(Model => Model.SelectedIntTags, Model.Interessen)
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
